.box {
  padding: 40px 0px;
}

.box-part {
  background: #fff;
  border-radius: 10px;
  padding: 50px 10px;
  margin: 15px 0px;
}

.box-part:hover {
  background: #dc3545 !important;
  cursor: pointer;
  color: #fff;
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover i {
  color: #fff;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.text {
  margin: 20px 0px;
}

.fa1 {
  color: #4183d7;
  /* color: #dc3545; */
}

/* Contact Form CSS */

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #343a40 !important;

  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #dc3545 !important;
  color: #ffffff;
}
