.box {
  padding: 40px 0px;
}

.box-part {
  background: #fff;
  border-radius: 10px;
  padding: 50px 10px;
  margin: 10px 0px;
}

.box-part:hover {
  background: #dc3545 !important;
  cursor: pointer;
  color: #fff;
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover i {
  color: #fff;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.text {
  margin: 20px 0px;
}

.fa1 {
  color: #4183d7;
  /* color: #dc3545; */
}
